@model IEnumerable<AllinOneApiApplication.Model.User.UserModel>

<div class="mainBox">
    <div class="row">
        <div class="col-md-12 text-right mb-2">
            <a asp-action="AddEditUser" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle" id="tblUserList">
                    <thead class="table-dark">
                        <tr>
                            <th>User Name</th>
                            @* <th>Email</th> *@
                            <th>Status</th>
                            <th>CreatedBy</th>
                            <th>CreatedDate</th>
                            <th>Role</th>       
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                         @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>

                                    @*  <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td> *@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        <a asp-controller="User" asp-action="AddEditUser" asp-route-Id="@item.UserId" class="btn btn-sm btn-primary rounded-0">Edit</a>
                                        <a asp-controller="User" asp-action="DeleteUser" asp-route-UserId="@item.UserId" class="btn btn-secondary btn-sm">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr colspan="8"><td>No Data Found.</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



